@import "tailwindcss/utilities";
@import "tailwindcss/preflight";

@import "tailwindcss";

:root {
  --bg-color: #efefef;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--bg-color);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  /* --font-mono: var(--font-geist-mono); */
}

body {
  background: var(--bg-color);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.fix-height{
  min-height:calc(100vh - 130px);
}

.overflow-height{
  height:calc(100vh - 130px);
}
button:disabled{
  cursor: not-allowed;
}